.cartInfoBottom{
    text-align: left;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 10px;
    margin-top: 40px;
}

.reviewCart{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none !important
}